<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CineConexión | Editar Pelicula</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        background-color: #f8f9fa;
      }

      .edit-form {
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      #coverPreview {
        max-width: 100%;
        height: auto;
        border-radius: 4px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-white">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">CineConexión</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/movies">Peliculas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/actors">Actores</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/search">Busqueda Avanzada</a>
            </li>
            <li
              sec:authorize="isAuthenticated() && hasRole('ROLE_ADMIN')"
              class="nav-item"
            >
              <a class="nav-link" href="/admin">Panel de Admin</a>
            </li>
          </ul>
          <div
            sec:authorize="isAuthenticated()"
            class="form-inline my-2 my-lg-0 d-flex gap-4 align-items-center"
          >
            <div class="text-end">
              <strong class="m-0" th:text="${user.name}"></strong>
              <p class="m-0 text-light-emphasis" th:text="${user.email}"></p>
            </div>
            <a
              href="/logout"
              class="btn btn-outline-success my-2 my-sm-0"
              type="submit"
            >
              Cerrar Sesion
            </a>
          </div>
          <div
            sec:authorize="!isAuthenticated()"
            class="form-inline my-2 my-lg-0"
          >
            <a
              href="/login"
              class="btn btn-outline-success my-2 my-sm-0"
              type="submit"
            >
              Iniciar Sesion
            </a>
            <a
              href="/register"
              class="btn btn-outline-success my-2 my-sm-0"
              type="submit"
            >
              Registrate
            </a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="edit-form p-4">
            <h1 class="text-center mb-4">Editar Pelicula</h1>
            <form
              th:action="@{http://api-gateway:8080/api/movies/{id}(id=${movie.id})}"
              th:object="${movie}"
              method="post"
              enctype="multipart/form-data"
            >
              <div class="row">
                <div class="col-md-8">
                  <div class="mb-3">
                    <label for="title" class="form-label">Titulo</label>
                    <input
                      type="text"
                      id="title"
                      th:field="*{title}"
                      class="form-control"
                      required
                    />
                  </div>

                  <div class="mb-3">
                    <label for="year" class="form-label">Año</label>
                    <input
                      type="number"
                      id="year"
                      th:field="*{year}"
                      class="form-control"
                      required
                    />
                  </div>

                  <div class="mb-3">
                    <label for="duration" class="form-label"
                      >Duracion (minutos)</label
                    >
                    <input
                      type="number"
                      id="duration"
                      th:field="*{duration}"
                      class="form-control"
                      required
                    />
                  </div>

                  <div class="mb-3">
                    <label for="director" class="form-label">Director</label>
                    <input
                      type="text"
                      id="director"
                      th:field="*{director}"
                      class="form-control"
                      required
                    />
                  </div>

                  <div class="mb-3">
                    <label for="genre" class="form-label">Genero</label>
                    <input
                      type="text"
                      id="genre"
                      th:field="*{genre}"
                      class="form-control"
                      required
                    />
                  </div>

                  <div class="mb-3">
                    <label for="synopsis" class="form-label">Sinopsis</label>
                    <textarea
                      id="synopsis"
                      th:field="*{synopsis}"
                      class="form-control"
                      rows="4"
                    ></textarea>
                  </div>

                  <div class="mb-3">
                    <label for="country" class="form-label">Pais</label>
                    <select
                      id="country"
                      th:field="*{country}"
                      class="form-control"
                      required
                    >
                      <option value="" selected disabled>Select Country</option>
                      <option
                        th:each="country : ${countries}"
                        th:value="${country.id}"
                        th:text="${country.name}"
                      ></option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="w-100">
                    <label for="coverImgUrl" class="form-label"
                      >Cover Image URL</label
                    >
                    <input
                      type="text"
                      id="coverImgUrl"
                      th:field="*{coverImgUrl}"
                      class="form-control"
                    />
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Previa Portada</label>
                    <img
                      id="coverPreview"
                      th:src="*{coverImgUrl}"
                      alt="Movie cover preview"
                      class="img-fluid mb-2"
                    />
                  </div>
                </div>
                <div class="d-grid">
                  <div
                    class="d-flex justify-content-between align-items-center mt-5"
                  >
                    <h2 class="">Reparto</h2>
                    <a
                      class="btn btn-primary"
                      th:href="@{/movies/edit/{id}/actors(id=${movie.id})}"
                      >Editar Reparto</a
                    >
                  </div>

                  <ul>
                    <li
                      th:each="actor : ${movie.actors}"
                      th:text="${actor.name}"
                    ></li>
                  </ul>
                </div>
              </div>
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">
                  Guardar Cambios
                </button>
                <a href="/movies" type="button" class="btn btn-secondary"
                  >Cancelar</a
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      document
        .getElementById('coverImgUrl')
        .addEventListener('input', function () {
          const preview = document.getElementById('coverPreview');
          preview.src = this.value || '/placeholder.svg?height=400&width=300';
        });
    </script>
  </body>
</html>
